name: option-tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ main ]


jobs:
  test_defaults:
    runs-on: ubuntu-latest
    name: Test options
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Environment
        run: |
          bash -c set

      - name: cccc action step (all sources, no options)
        uses: ./ # Uses an action in the root directory
        with:
          github_token: ${{secrets.GITHUB_TOKEN }}

  test_dirs:
    runs-on: ubuntu-latest
    name: Test options
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Environment
        run: |
          bash -c set

      - name: cccc action step with directories
        uses: ./ # Uses an action in the root directory
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          target_branch: gh-pages
          source_dirs: |
            tests/java
            tests/cpp

  test_exts:
    runs-on: ubuntu-latest
    name: Test options
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Environment
        run: |
          bash -c set

      - name: cccc action step with file extensions
        uses: ./ # Uses an action in the root directory
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          target_branch: gh-pages
          source_dirs: |
            tests/java
            tests/cpp
            tests/c
          file_extensions: |
            .h
            .cpp

      - name: upload report
        uses: actions/upload-artifact@v2
        with:
          name: metrics
          path: ./metrics
